<h1>Create author</h1>

<form action="/authors" method="POST">
  <label for="first-name-input">First name</label>
  <input type="text" name="firstName" id="first-name-input">
  <br>
  <label for="last-name-input">Last name</label>
  <input type="text" name="lastName" id="last-name-input">
  <br>
  <label for="nationality-input">Nationality</label>
  <input type="text" name="nationality" id="nationality-input">
  <br>
  <label for="birthday-input">Birthday</label>
  <input type="date" name="birthday" id="birthday-input">
  <br>
  <label for="picture-input">Picture URL</label>
  <input type="text" name="pictureUrl" id="picture-input">
  <br>
  <button type="submit">Save new author</button>
</form>