<h1>Available books</h1>

<ul>
  {{#each books}}
    <li> <a href="/books/{{ this._id }}"> {{ this.title }} </a>
      <form action="/books/{{this._id}}/delete" method="post">
        <button type="submit">Delete</button>
      </form>
    </li>
  {{/each}}
</ul>