<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Express basics</title>
  </head>
  <body>
    <p>This is Ironhack official page.</p>
    <div>
      <!-- we don't have to put '/public/images/name-opf-image.jpg' since public
    is already registered for all static files (stylesheets, images, etc.) -->
      <img class="logo" src="/images/ironhack-logo.png" alt="ih-logo" />
    </div>
  </body>
</html>
